h1, h2 {
    text-align: center;
}

main {
    display: flex;
    overflow: scroll;
    height: 100vh;  /* viewport heigth */
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: center;
    gap: 30px;
}

.div-style {
    align-self: center;
    width: 25em;
    height: 25em;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* button {
    margin-top: 200px;
} */